{% extends "erp_app/_base.html" %}

{% block title %}
Property
{% endblock title %}

{% block content %}
<div class="container w-full max-w-2xl mx-auto sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold mb-8">Property form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" 
        class="mt-4 text-white btn btn-primary bg-blue-700 hover:bg-blue-800"
        >Submit</button>
    </form>
</div>
{% endblock content %}

